extends ../includes/layout


block main-content
	div.navbar.navbar-default.navbar-fixed-top
		div.container
			div.navbar-header
				a.navbar-brand(href='/') Contacts Demo
				button.navbar-toggle(type='button' data-toggle='collapse' data-target='#navbar-main')
					span.icon-bar
					span.icon-bar
					span.icon-bar
			div.navbar-collapse.collapse(id='navbar-main')
				div(ng-include="'partials/account/navbar-login'")
	div.container(ng-view)
	hr
	footer.container.text-center
		p &copy; Chris Shannon