.panel.panel-danger
	.panel-heading Server-side Dependencies
	table.table.table-striped.table-condensed
		thead
			tr
				th Package
				th Version
		tbody
			tr
				td mongoose
				td 
					span.label.label-primary v4.4.19
			tr
				td express
				td 
					span.label.label-primary v4.13.4
			tr
				td express-session
				td 
					span.label.label-primary v1.13.0
			tr
				td express-stylus
				td 
					span.label.label-primary v0.1.0
			tr
				td body-parser
				td 
					span.label.label-primary v1.15.1
			tr
				td cookie-parser
				td 
					span.label.label-primary v1.4.2
			tr
				td morgan
				td 
					span.label.label-primary v1.7.0
			tr
				td pug
				td 
					span.label.label-primary v2.0.0-alpha8
			tr
				td passport
				td 
					span.label.label-primary v0.3.2
			tr
				td passport-local
				td 
					span.label.label-primary v1.0.0
			tr
				td bcryptjs
				td 
					span.label.label-primary v2.3.0
			tr
				td bower
				td 
					span.label.label-primary v1.7.9
			tr
				td content-filter
				td 
					span.label.label-primary v1.0.22