.panel.panel-info
	.panel-heading Client-side Dependencies
	table.table.table-striped.table-condensed
		thead
			tr
				th Package
				th Version
		tbody
			tr
				td angular
				td 
					span.label.label-primary v1.5.6
			tr
				td angular-messages
				td 
					span.label.label-primary v1.5.6
			tr
				td angular-resource
				td 
					span.label.label-primary v1.5.5
			tr
				td angular-route
				td 
					span.label.label-primary v1.5.5
			tr
				td jquery
				td 
					span.label.label-primary v2.2.4
			tr
				td bootstrap
				td 
					span.label.label-primary v3.3.6
			tr
				td toastr
				td 
					span.label.label-primary v2.1.2